body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: white;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-size: 1.1em;
}

.div {
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.div-mouseover {
    background-color: black;
}